page-current-jobs {

  .cancel{
    background:#f13e3e !important;
    color:#fff !important;
  }
  .complete{
    background: #3fae60 !important;
    color:#fff !important;
  }
  .cancel ion-icon{
    color:#fff !important;
  }
  .cancel p{
    color:#fff !important;
  }
  .complete ion-icon{
    color:#fff !important;
  }
  .complete p{
    color:#fff !important;
  }

  .call{
    background:#3fae60 !important;
    color:#fff !important;
  }
  .chat{
    background: #2573AA !important;
    color:#fff !important;
  }
  .call ion-icon{
    color:#fff !important;
  }
  .call p{
    color:#fff !important;
  }
  .chat ion-icon{
    color:#fff !important;
  }
  .chat p{
    color:#fff !important;
  }

  .home-hello {
    position: relative;
    height: 30%;


  }

  .logo{
    width: 112px;
    height: 106px;
    position: absolute;
    left: 32%;
    top: 49%;
    background-color: transparent;
  }
  .bidding-form{
    text-align:left;
    padding:30px;
  }

  .toolbar-title {
    color: color($colors, primary,base) !important;
  }



  ion-icon {
    color: #158683 !important;
  }

  ion-img{
    background: none;
  }

  .profile-img{
    width: 90%;
    height: 120px;
    border: solid #ebebeb 1px;
  }
  .profile-img img{
    height: 120px;
  }

  .job-row{
    background: #168582;
    padding: 15px;
    border-radius: 24px;
    margin-top:10px;
  }

  ion-col{
    color:#fff;
  }

  ion-col h2 p{
    margin:2px;
  }

  .option{
    background: #fff;
    padding: 5%;
    width: 90%;
    border-radius: 30px;
    text-align: center;
  }


  .option ion-icon{
    font-size: 25px;
  }

  .option p{
    color:#168481;
    margin:0px;
  }

  .rating ion-icon{
    color:#fff !important;
  }

}
