
<ion-header>

  <ion-navbar>
    <ion-title class="iontitle">Current Job</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  >
  <div class="home-hello" style="background-image:url('assets/imgs/header.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;">
    <ion-img class="logo" src="assets/imgs/xolo-logo.png"></ion-img>
  </div>
  <div class="bidding-form">
    <ion-title color="primary" class="title">COMPANION- <br>COMPANY FOR YOUR DATE</ion-title>
    <ion-grid class="job-row" >
      <ion-row >
        <ion-col width="50">
          <ion-img class="profile-img" src="{{job.customerImage}}"></ion-img>
        </ion-col>
        <ion-col width="50" >
          <h3 style="margin:2px">{{job.customerName}}</h3>
          <h5 style="margin:0px">{{job.description}}</h5>
          <h6 style="margin:0px">{{job.location}}</h6>
          <h6 style="margin:1px">{{job.jobdate}}  </h6>
         <h6 style="margin:1px"> {{job.jobtime}}</h6>
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>


          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:10px;">
        <ion-col width="50" class="text-center" (click)="callUser(job)" >
          <div class="option call">
            <ion-icon name="ios-call"></ion-icon>
            <p>Call</p>

          </div>
        </ion-col>
        <ion-col width="50"  (click)="negotiateJob(job)">
          <div class="option chat">
            <ion-icon ios="ios-chatbubbles" md="md-checkbox"></ion-icon>
            <p>Chat</p>

          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:10px;">
        <ion-col width="50" class="text-center" (click)="cancelJob(job)" >
          <div class="option cancel">
            <ion-icon name="ios-close"></ion-icon>
            <p>Cancel</p>

          </div>
        </ion-col>
        <ion-col width="50" (click)="completeJob(job)">
          <div class="option complete">
            <ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon>
            <p>Complete</p>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>




  </div>


</ion-content>
