<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>



<ion-content  >
  <div class="home-hello" style="background-image:url('assets/imgs/header.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;">
    <ion-img src="assets/imgs/xolo-logo.png"></ion-img>
  </div>
  <div class="form-register">
    <ion-title color="primary" class="title">LOGIN TO YOUR ACCOUNT</ion-title>
    <form  style="    padding: 16px 0px;"  [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list no-lines no-border>
        <p class="labels">Email</p>
        <ion-item>
          <ion-label><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>
          <ion-input type="text"  placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          Please input valid email
        </div>
        <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
          Please input valid email
        </div>


        <p class="labels">Password</p>
        <ion-item>
          <ion-label> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-label>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>

        <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
          Minimum 5 characters
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
          Maximum 12 characters
        </div>

        <div class="submit-div" >
          <button ion-button block color="primary" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
          <!--<button ion-button block clear color="danger" (click)="closeModel()" >Cancel</button>-->
        </div>
      </ion-list>
      <p class="forget-password" (click)='resetPassword()' style="cursor: pointer">Forget password?</p>
      <!--<div class="submit-div" >-->
        <!--<button ion-button block  style="background-color:#3d5a96" (click)="loginPr.facebookLogin()" >-->
          <!--<ion-icon ios="logo-facebook" md="logo-facebook" class="social-icon"></ion-icon>-->
          <!--Login with facebook</button>-->
        <!--<button ion-button block color="danger" (click)="loginPr.googleLogin()" ><ion-icon class="social-icon" ios="logo-googleplus" md="logo-googleplus" ></ion-icon>Login with google</button>-->
        <!--<button ion-button block clear color="danger" (click)="closeModel()" >Cancel</button>-->
      <!--</div>-->
      <p class="forget-password" (click)="register()">Don't have account? Sign Up</p>
    </form>
  </div>

</ion-content>
