page-login {
  .home-hello {
    position: relative;
    height: 30%;
    margin-bottom: 30px;

  }

  ion-img{
    width: 112px;
    height: 106px;
    position: absolute;
    left: 32%;
    top: 49%;
    background-color: transparent;
  }
  .form-register{
    text-align:left;
    padding:38px;
  }

  .toolbar-title {
    color: color($colors, primary,base) !important;
  }

  ion-item{
    border: solid 1px #168582 !important;
    margin: 4px !important;
  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  ion-icon {
    color: #158683 !important;
  }

  .labels{
    margin-left: 10px;
    margin-bottom:8px;
    font-size: 18px;
    color: #ccc;
  }

  .submit-div{
    width: 102%;
    margin-top:15px;
  }

  .forget-password{
    text-align: center;
    color: #ccc;
    font-size: 16px;
  }

  .social-icon{
    font-size: 25px;
    margin: 10px;
    color: #fff !important;
  }


}
