


<ion-content  >
  <div class="home-hello" style="background-image:url('assets/imgs/header.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;">
    <ion-img src="assets/imgs/xolo-logo.png"></ion-img>
  </div>
  <div class="form-register">
  <ion-title color="primary" class="title">SIGNUP HERE</ion-title>
  <form  style="    padding: 16px 0px;"  [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list no-lines no-border>
      <p class="labels">Username</p>
      <ion-item >
        <!--<ion-label><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>-->
        <ion-input type="text"  placeholder="Username" formControlName="username"></ion-input>
      </ion-item>

      <!--<ion-item no-lines *ngIf="( registerForm.get('username').hasError('minlength') || registerForm.get('username').hasError('maxlength') ||registerForm.get('username').hasError('pattern') ||registerForm.get('username').hasError('required') ) && registerForm.get('username').touched">-->
        <div class="error" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="registerForm.get('username').hasError('pattern') && registerForm.get('username').touched">
          Just use alphabet character
        </div>
      <!--</ion-item>-->


      <p class="labels">Mobile</p>
      <ion-item>

        <ion-input type="number"  placeholder="Mobile" formControlName="phone" ></ion-input>
      </ion-item>

      <div class="error" *ngIf="registerForm.get('phone').hasError('required') && registerForm.get('phone').touched">
        Please input your mobile number
      </div>
      <div class="error" *ngIf="registerForm.get('phone').hasError('minlength') && registerForm.get('phone').touched">
        Valid mobile number greater than 10 numbers
      </div>
      <div class="error" *ngIf="registerForm.get('phone').hasError('maxlength') && registerForm.get('phone').touched">
        Valid mobile number smaller than 11 numbers
      </div>


      <p class="labels">Email</p>
      <ion-item>
        <ion-input type="text"  placeholder="Email Address" formControlName="email"></ion-input>
      </ion-item>
      <div class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
        Please input valid email
      </div>
      <div class="error" *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched">
        Please input valid email
      </div>


      <p class="labels">Password</p>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

      <div class="error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        Please input your password
      </div>
      <div class="error" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
        Minimum 5 characters
      </div>
      <div class="error" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
        Maximum 12 characters
      </div>




      <p class="labels">Confirm Password</p>
      <ion-item>
        <ion-input type="password"  placeholder="Confirm Password" formControlName="confirmpassword"></ion-input>
      </ion-item>

      <div class="error" *ngIf="registerForm.get('confirmpassword').hasError('required') && registerForm.get('confirmpassword').touched">
        Please input confirm password
      </div>
      <div class="error" *ngIf="registerForm.get('confirmpassword').hasError('minlength') && registerForm.get('confirmpassword').touched">
        Minimum 5 characters
      </div>
      <div class="error" *ngIf="registerForm.get('confirmpassword').hasError('maxlength') && registerForm.get('confirmpassword').touched">
        Maximum 12 characters
      </div>
      <div class="error" *ngIf="registerForm.controls.confirmpassword.errors?.MatchPassword && registerForm.get('confirmpassword').touched">
        Password does not match
      </div>




      <div class="submit-div" style="">
        <button ion-button block color="primary" type="submit" [disabled]="!registerForm.valid">SIGN UP</button>
        <!--<button ion-button block clear color="danger" (click)="closeModel()" >Cancel</button>-->
        <p class="forget-password" (click)="login()">Already have account? Login</p>
      </div>
    </ion-list>
  </form>
  </div>

</ion-content>
