<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Current Jobs" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Past Jobs" tabIcon="md-bookmarks"></ion-tab>
</ion-tabs>