<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="toptitle iontitle">User Profile</ion-title>
  </ion-navbar>

</ion-header>





<ion-content  >
  <div class="home-hello" style="background-image:url('assets/imgs/header.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;">
    <ion-img src="{{profileImage}}" (click)="doGetPicture()"></ion-img>
  </div>
  <!--<header class="home-hello"></header>-->

  <div class="form-profile">
    <ion-title color="primary" class="title">Profile</ion-title>
    <form  style="    padding: 16px 0px;"  [formGroup]="profileForm" (ngSubmit)="profileUpdate()" >
      <ion-list no-lines no-border>
        <ion-item>
          <ion-label><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-label>
          <ion-input type="text"  placeholder="Username" formControlName="username" ngDisabled="true"></ion-input>
        </ion-item>

        <div class="error" *ngIf="profileForm.get('username').hasError('required') && profileForm.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="profileForm.get('username').hasError('minlength') && profileForm.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="profileForm.get('username').hasError('maxlength') && profileForm.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="profileForm.get('username').hasError('pattern') && profileForm.get('username').touched">
          Just use alphabet character
        </div>

        <ion-item>
          <ion-label> <ion-icon ios="ios-mail" md="md-mail"></ion-icon></ion-label>
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <div class="error" *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
          Please input valid email
        </div>
        <div class="error" *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
          Please input valid email
        </div>

        <ion-item>
          <ion-label> <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon></ion-label>
          <ion-input type="number" placeholder="Mobile" formControlName="phone"></ion-input>
        </ion-item>

        <div class="error" *ngIf="profileForm.get('phone').hasError('required') && profileForm.get('phone').touched">
          Please input your mobile number
        </div>
        <div class="error" *ngIf="profileForm.get('phone').hasError('minlength') && profileForm.get('phone').touched">
          Valid mobile number greater than 10 numbers
        </div>
        <div class="error" *ngIf="profileForm.get('phone').hasError('maxlength') && profileForm.get('phone').touched">
          Valid mobile number smaller than 11 numbers
        </div>


        <div class="submit-div" >
          <button ion-button block color="primary" type="submit" [disabled]="!profileForm.valid">Update</button>
        </div>
      </ion-list>
    </form>
  </div>

</ion-content>

