<!--
  Generated template for the PastJobsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu"></ion-icon>
    </button>
    <ion-title class="toptitle iontitle"><span class="heavy">Jobs</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div >
    <ion-grid class="job-row"  *ngFor="let job of jobs; let i = index;" (tap)="acceptJOb(job)">
      <h5 style="text-align:right;color: #ffffff;">{{job.status}}</h5>
      <ion-row  >

        <ion-col width="50">
          <img class="profile-img" src="{{job.customerImage}}" />
        </ion-col>
        <ion-col width="50" class="detail">
          <h3>{{job.customerName}}</h3>
          <!--<h5>$ {{job.estimatedBudget}}</h5>-->
          <p>{{job.location}}</p>
          <p>{{job.description}}</p>
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>


          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
    <p class="nodata" *ngIf="jobs.length <= 0">No jobs  </p>

  </div>



</ion-content>
