page-home {

  .customcardheader{ padding: 0px; margin-bottom: 30px;}
  .customcardheader-middle{background: #222222;text-align: center; font-family:'PT Sans'; font-size: 17px; color: #fff; line-height: 35px;}
  .customcardheader-left, .customcardheader-right{background: #158683; @extend .customcardheader-middle;}
  .customcard{background: #e1e1e1; width: 93%; margin: auto; margin-top: 12px; margin-bottom: 12px;  }
  .customcardbody img{width: 36%;border-radius:50%;  display: block; margin: auto; border: 1px solid #8c8c8c;}
  .customcardbody h2{text-align: center; margin: 0; color: #168582; font-weight: bold; font-size: 22px; text-transform: capitalize}
  .customcardbody p{    margin:0px; text-align: center; font-size: 15px;}
  .customcardbody p span{font-weight: bold;}
  .serviceType{color: #000;text-align:center !important;margin:0px;}
  //
  //.last-row{
  //  border-bottom: 1px dotted #000;
  //  padding-bottom: 10px;
  //  margin-bottom: 7px;
  //}
  //.detail{
  //  margin-left: 6%;
  //  color: #ccc7c7;
  //  font-size: 15px;
  //}
  //.next-row{
  //  color: #ccc7c7 !important;;
  //}
  //.detail-card{
  //  margin-top: 0px;
  //  background-color:#fff;
  //}

  .addOn{
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    height: 34px;
 }

  .bid-rate{
    font-size: 15px;
    text-align: center;
    background: #fff;
    height: 34px;
    margin:0px;
  }
  .submit-bid{
    width: 94%;
    font-size: 13px;
    padding: 10px;

    color: #fff;
    margin-left:3%;

  }

  .negotiate{
    background-color:#2573AA;
  }
  .accept{
    background-color: #3fae60;
  }
  .cust-name{
    text-align: center;
    color:#000
  }
 // .bid-color{
 //   color:green !important;
 // }

  .option{
    background: #fff;
    padding: 5%;
    width: 90%;
    border-radius: 30px;
    text-align: center;
  }


  .option ion-icon{
    font-size: 25px;
  }

  .option p{
    color:#168481;
    margin:0px;
  }

  .rating ion-icon{
    color:#fff !important;
  }
  .no-padding{
    padding:0px !important;
  }

  .add{
    border-left: solid 1px #c8c7cc;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
  }

  .minus{
    border-right: solid 1px #c8c7cc;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }

  .addOn ion-icon{
    color:#bdbdbd !important;
  }

  ion-icon{
    color:#168481 !important;
  }




}
