<ion-header>
  <ion-navbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu"></ion-icon>
    </button>
    <ion-title class="toptitle iontitle"><span class="heavy">JOB LIST</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--<h2  class="review-title" style="text-align: center">No jobs yet.</h2>-->
  <ion-card class="customcard" *ngFor="let job of jobs; let i = index;">
    <ion-card-header class="customcardheader">
      <ion-grid class="no-padding">
        <ion-row style="height: 37px;">
          <ion-col width-20 class="customcardheader-left">
          </ion-col>
          <ion-col width-60 class="customcardheader-middle">
          {{job.jobdate}}
          </ion-col>
          <ion-col width-20 class="customcardheader-right">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="customcardbody">
      <ion-row>
        <ion-col style="padding:0px;">
          <img src="{{job.customerImage}}" >
          <!--<img alt="line" class="blueline" src="assets/images/blueline.png">-->
        </ion-col>
      </ion-row>
        <ion-row>
        <ion-col>
          <h2 >{{job.customerName}} </h2>
          <p class="serviceType" >{{job.location}}</p>
          <p>{{job.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="detail" style="color:#000" *ngIf="job.hasOwnProperty('currentBid')">Current Bid : <span><strong  >$ {{job.currentBid.toFixed(2)}}  </strong></span></p>
        </ion-col>
      </ion-row>
          <!--<p style="    margin: 0px;" >Your Bid :<strong  *ngIf="job.hasOwnProperty('yourBid')">$ {{job.yourBid.toFixed(2)}}  </strong><strong  *ngIf="!job.hasOwnProperty('yourBid')"> Put your bid  </strong></p>-->
        <ion-row style="height:30px">
        <ion-col (tap)="changeBid('dec',job)" width-25 class="addOn minus">
        <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
        </ion-col>


        <ion-col width-50 class="no-padding">
        <p class="bid-rate"  style='line-height:34px;'><strong *ngIf="job.hasOwnProperty('priceAfterBid')">$ {{job.priceAfterBid.toFixed(2)}}  </strong></p>
        </ion-col>
        <ion-col width-25 class="addOn add" (tap)="changeBid('inc',job)">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </ion-col>

        </ion-row>
        <ion-row style="margin-top:10px;">
        <ion-col width="50" class="text-center" >

          <button block class="submit-bid negotiate" (click)="negotiateJob(job)"  negotiate>
            <!--<ion-icon name="ios-chatbubbles"></ion-icon> -->
            Chat</button>
        </ion-col>
        <ion-col width="50" class="text-center" >

          <button block class="submit-bid accept"  accept (click)="yourBid(job)" *ngIf="!job.hasOwnProperty('yourBid') ">
            <!--<ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon>-->
            Submit Your Bid</button>
          <button block class="submit-bid accept"  accept (click)="yourBid(job)" *ngIf="job.hasOwnProperty('yourBid') ">
            <!--<ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon>-->
            Bid Submitted</button>
        </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
    <!--<ion-card  >-->
        <p class="nodata" *ngIf="jobs.length <= 0">No jobs for now </p>
    <!--</ion-card>-->
</ion-content>
