page-past-jobs {
  .bidding-form{
    padding:10px;
  }
  ion-icon {
    color: #158683 !important;
  }

  img{
    background: none;
  }

  .profile-img{
    width: 90%;
    height: 120px;
  }
  .profile-img img{
    height: 120px;
  }

  .job-row{
    //background: #168582;
    //padding: 15px;
    //margin-top:10px;

    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border: #158683 solid 1px;
  }

  ion-col{
    color:#000;
  }

  ion-col h2 p{
    margin:2px;
  }

  .option{
    background: #fff;
    padding: 5%;
    width: 90%;
    border-radius: 30px;
    text-align: center;
  }


  .option ion-icon{
    font-size: 25px;
  }

  .option p{
    color:#168481;
    margin:0px;
  }

  .rating ion-icon{
    color:#000 !important;
  }

  .rating{
    margin:2px;
  }

  .detail{
   // margin-top: 20px;
  }
  .detail h3{
    margin:0px;
    text-transform: capitalize;
  }
  .detail h5{
    margin:0px;
  }
}
