<ion-menu type="push" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>MENU</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="menubar">
        <ion-list>
            <button menuClose ion-item *ngFor="let menu of pages" (click)="changePage(menu)">
                <ion-icon class="custom-icon" item-left [name]="menu.icon"></ion-icon>
                {{menu.title}}
            </button>
        </ion-list>
        <!--<button ion-button menuToggle (click)='doLogout()'>Logout</button>-->
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>