// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.tabs-ios  .tabbar {
  background: color($colors, primary,base) !important;
}

.tabs-md .tabbar {
  background: color($colors, primary,base) !important;
}

ion-icon{
  color:#fff !important;
}

ion-item{
  border-radius: 4px !important;
  padding-left:0px !important;
}

ion-label{
  background: #cccccc61;
  padding: 15px;
  margin: 0px !important;
}

ion-select{
  max-width: 100%;
}



.error {
  color: rgb(223, 62, 62);
  font-size: 14px;
  margin: 7px;
}

.error1 {
  color: rgb(75, 75, 75);
  border-bottom: 1px solid #ff0000;
}

.menubar ion-icon{
    color:#168481 !important;
}

.menubar ion-label {
  background: #fff;
}
.iontitle{
  margin-left: 19%;
  text-transform: uppercase;
}

.nodata{
  color: #000;
  font-size: 20px;
  text-align: center;

}

.tabs-md .tab-button {
  min-height: 5.6rem;
  font-weight: normal;
  color: #fff;
  padding: 0;
}

.tabs-md .tab-button[aria-selected=true] {
  color: #fff;
  padding: 0;
}
