page-messages {
  ion-textarea{
    font-size: 12px;
    resize: both;
  }

  .button-ios {
    background-color:#fff!important;
  }

  .chatbox{
    padding:3px;
    border-radius: 5px;
    max-width: 70%;
    min-width: 70%;
    margin: 5px;
  }
  .chatbox span{
    font-size: 12px;
  }
  .right{
    border-radius: 5px;
    background: #f3f3f3;
    color: #222;
    float: right;
    text-align: right;
    padding-right: 10px;
  }
  .left{
    border-radius: 5px;
    background: #6ac2ef;
    color:#f4f4f4;
    float: left;
    text-align: left;
    padding-left: 10px;
  }

  ion-icon {
    color: #28908d !important;
  }

}
