<ion-header>
  <ion-navbar >
    <ion-title *ngIf="job.hasOwnProperty('customerName')" class="iontitle">{{job.customerName }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content has-footer padding>
  <!-- Messages -->
  <div class="messages">
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous messages</span></p>

    <div *ngFor="let message of messagesToShow">
      <div class="sender" *ngIf="isSender(message)" class="chatbox right">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>


        <span>{{message.date | DateFormat }}</span>
      </div>
      <div *ngIf="!isSender(message)" class="chatbox left">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>


        <span>{{message.date | DateFormat }}</span>
      </div>
    </div>

  </div>
</ion-content>
<!-- Message Box -->
<ion-footer>
  <ion-item class="bottom_bar">
    <ion-textarea type="text" rows="0" placeholder="Type your message" [(ngModel)]="message"></ion-textarea>
    <button item-right ion-button  (click)="send('text')" [disabled]="!message"><ion-icon name="md-send" style="color:#fff !important;"></ion-icon></button>
    <!-- </ion-buttons> -->
  </ion-item>
</ion-footer>
